# FOR LOOP

1.Q
  * print odd value between 20 and 80, without using if. Using for loop only.

In [13]:
start = 20
end = 80
odd_numbers = [num for num in range(start, end + 1)
                 if num % 2 != 0]
print(odd_numbers)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79]

2.Q
 *  creat a list of 1 to 20 number using for loop [1,2,3..20]

In [24]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

3.Q
 * 3)create a  list of 20 to 1 value using  for loop (dont Use Reverse)
[20,19,18,...3,2,1]

In [34]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
rev = [a[i] for i in range(len(a) - 1, -1, -1)]
print(rev)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4.Q
 *  4)take Cube of odd values between 20 to 40

In [40]:
for x in range(20,40):
      if(x%2 == 1):
        print(x*x*x,end = " ")

9261 12167 15625 19683 24389 29791 35937 42875 50653 59319

5.Q

*  take 5 freinds name in list name=[a,b,c,d,e]
take corresponding ages in second list age = [20,21,23,25,24]
* expected ans:
  *  my name is a , my age is 20
  * my name is b, my age is 21

In [6]:
names = ["sham","rohan","roshan","om","karen"]
ages = [20,21,23,25,24]
for name , age in zip(names,ages):
     print(f"my name is {name} , my age is {age}")

my name is sham , my age is 20
my name is rohan , my age is 21
my name is roshan , my age is 23
my name is om , my age is 25
my name is karen , my age is 24